html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: "Roboto Mono" !important;
    background: #0f0f0f !important;
    color: #fff;
}
nav {
    width: 100%;
    background: #0f0f0f;
    height: 80px;

    z-index: 1;
    padding-top:0;
}

nav #brand {
    float:left;
    display: block;
    margin-left: 82px;
    line-height: 80px;
    font-weight: bold;
}

nav #brand a {
    color: #fff;
    transition: all 0.3s ease-out;
    border-bottom: 1px solid #fff;
    text-decoration: none;
}
nav #brand a:hover {
    text-decoration:none;
}

nav #menu {
    float: left;
    right: 80px;
    position: fixed;
    margin-top:0;
}

nav #menu li {
    padding-left: 40px;
    display: inline-block;
    cursor: pointer;
    font-weight: 300px;
    line-height: 80px;
    position: relative;
    transition: all 0.3s ease-out;
}

nav #menu li span {
    font-weight: 700;
}

nav #menu li a {
    color: #fff;
    text-decoration: none;
}
nav #menu li a:hover {
    border-bottom: 1px solid #fff;
}

#content {
    background-color: #080808;
    width: 90%;
    padding:50px;
    margin-left: auto;
    margin-right: auto;
    height:75%;
    border: 1px solid;
    border-color:white;
}

.formContainer {
    text-align:center;
}

.formContainer input {
    margin-bottom:5px;
}

.pageTitle h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 20px;
    font-size:40px;
}

label {
    display: inline-block;
}

.centerDiv {
    margin-left: auto;
    margin-right: auto;
}

.center {
    text-align: center;
}
table {
    margin-top:100px;
    margin-left: auto;
    margin-right: auto;

}
